$icons: (
	  sprite: (width: 244px, height: 208px, svgPath: '../img/sprite.svg'),
 	adv_style: (width: 36.968px, height: 18.44px, backgroundX: 0px, backgroundY: 0px),
 	heart: (width: 37.7px, height: 34.7px, backgroundX: -37px, backgroundY: -19px),
 	nav_left: (width: 27.5px, height: 17px, backgroundX: -75px, backgroundY: -54px),
 	nav_right: (width: 27.5px, height: 17px, backgroundX: -103px, backgroundY: -71px),
 	package-no: (width: 18.5px, height: 18.44px, backgroundX: -131px, backgroundY: -88px),
 	package-yes: (width: 27.562px, height: 19.09px, backgroundX: -150px, backgroundY: -107px),
 	socials_fb: (width: 21px, height: 44px, backgroundX: -178px, backgroundY: -127px),
 	socials_tw: (width: 44.5px, height: 36.2px, backgroundX: -199px, backgroundY: -171px),
);
