.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-adv_style {
	font-size:(18.44/16)*1rem;
	width:(36.968/18.44)*1em;
}
.icon-heart {
	font-size:(34.7/16)*1rem;
	width:(37.7/34.7)*1em;
}
.icon-nav_left {
	font-size:(17/16)*1rem;
	width:(27.5/17)*1em;
}
.icon-nav_right {
	font-size:(17/16)*1rem;
	width:(27.5/17)*1em;
}
.icon-package-no {
	font-size:(18.44/16)*1rem;
	width:(18.5/18.44)*1em;
}
.icon-package-yes {
	font-size:(19.09/16)*1rem;
	width:(27.562/19.09)*1em;
}
.icon-socials_fb {
	font-size:(44/16)*1rem;
	width:(21/44)*1em;
}
.icon-socials_tw {
	font-size:(36.2/16)*1rem;
	width:(44.5/36.2)*1em;
}
